/***** Reset! Modified From: http://developer.yahoo.com/yui/reset *****/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }
a { outline: none; text-decoration: none; }
a img { border: none; }
.clear { clear: both; font-size: 1px; line-height: 1px; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.texthide { text-indent: -9999em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display:block;
}


body, html {
  padding: 0;
  margin: 0;
  text-align: center;
}

body{
  background-image: url('../images/backgroundbody.gif');
  background-repeat: repeat;	
  font-family: "LeagueGothicRegular", Tahoma, Arial, sans-serif;

}

#wrap {
  margin: 0 auto;
  width: 965px;
  padding: 0;
  text-align: left;
  clear: both;
  overflow: hidden;
}

#wrap div{
  float: left;
  margin-right: 9px;
  height: 190px;
  width: 232px;
}






#header{
  background-image: url('../images/BG_header.png');
  background-repeat: no-repeat;
  background-position: center top;
  height: 500px; 
}

#logo{
  background-image: url('../images/Header_cartel_emergya.png');
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 30%;
  height: 400px;  
  position: relative;
  float: left;
  display: inline;
  margin-left: 24%;
}

#tree{
  background-image: url('../images/header_arbol.png');
  background-repeat: no-repeat;
  height: 362px;
  width: 40%;
  position: relative;
  float: left;
  display: inline;
  margin-left: -2%;
}

#footer{
  background-image: url('../images/BG_footer.png');
  background-repeat: no-repeat;
  height: 165px;
  margin-top: 70px;
  background-position: center bottom;
}

#footer .wrapper-footer {
  margin: 0 auto;
  width: 895px;
  position: relative;
}

#footer .wrapper-footer .content {
  margin: 0 auto;
}

#footer .wrapper-footer .facebook{
  background: url("../images/sprite_FB.png") 0 0 no-repeat;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  display: inline-block;
}

#footer .wrapper-footer .twitter{
  background: url("../images/sprite_TW.png") 0 0 no-repeat;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  display: inline-block;
}

#footer .wrapper-footer .letters{
  background: url("../images/txt_compartir.png") 0 0 no-repeat;
  width: 300px;
  height: 45px;
  position: absolute;
  right: 80px;
  top: 60px;
}

#footer .wrapper-footer p {
  padding-top: 10px;
  margin-bottom: 50px;
  color: #fff;
}

#footer .wrapper-footer p a{
  color: #fff;
  font-weight: bold;
}

#month{
  margin: auto;
   
}

#day{
  display: inline;
}
